.inputField{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
    flex-basis: 100%;
}
  
.inputLabel {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: var(--cinza-padrao);
    padding: 0.25rem;
}
  
.required {
    font-size: 12px;
    color: var(--erro);
}

.inputPadraoField{
    display: flex;
    align-items: center;
    position: relative;
}

.inputPadraoField i{
    position: absolute;
    right: 1rem;
    color: var(--cinza-padrao);
    user-select: none;
    pointer-events: none;
}

.iconsContainer{
    position: absolute;
    right: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    user-select: none;
    pointer-events: none;
}

.iconsContainer i{
    position: relative;
    right: unset;
    color: var(--cinza-padrao);
}

.eyeIcon{
    display: flex;
    cursor: pointer !important;
    pointer-events: all !important;
    user-select: all !important;
}

.fileActionIcon{
    display: flex;
    cursor: pointer !important;
    pointer-events: all !important;
    user-select: all !important;
}

.inputPadrao{
    appearance: none;
    border: 1px solid var(--cinza-claro);
    border-radius: 0.5rem;
    padding: 0 1rem;
    height: calc(2.5rem - 2px);;
    font-size: 0.85rem;
    line-height: unset;
    background-color: var(--branco);
    color: var(--cinza-escuro);
    flex: 1;
    cursor: text;

    transition: border 0.2s ease-in-out;
}

.inputPadrao:-webkit-autofill,
.inputPadrao:-webkit-autofill:hover, 
.inputPadrao:-webkit-autofill:focus, 
.inputPadrao:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--cinza-escuro);
    background-color: var(--cinza-claro) !important;

}

.inputPadrao:focus,
.inputPadrao:focus-visible,
.inputPadrao:focus-within{
    border: 1px solid var(--azul-padrao); 
    outline: none;
}

.inputPadrao,
.inputPadrao::placeholder {
    text-transform: none;
}

.upperCase{
    text-transform: uppercase;
}

.lowerCase{
    text-transform: lowercase;
}

.readOnly{
    pointer-events: none;
}

.disabled{
    pointer-events: none;
    background-color: var(--cinza-claro);
}

input[type="date" i] {
    font-family: sans-serif;
}

.inputPadraoField input:disabled, .inputPadrao:disabled{
    border-color: #dadbdd;
    background-color: #fdfdff;
    color: #99999b;
}

.inputPadraoField input:disabled + i,.inputPadrao:disabled + i{
    color: #99999b;
}

textarea {
    font-family: sans-serif;
    resize: none;
}