.abreBotaoContent {
  padding: 1.5rem;
  gap: 1.5rem;
  background: #f6f5f5;
  border: 1px solid #cbcbcb;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 13px;
  /* width: calc(100% - 5rem); */
  /* left: 1rem;
  position: relative; */
}
.abreBotaoContainer {
  padding: 1rem;
}

.inputs {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  padding-right: 1.5rem;
}

.abreBotaoTitle {
  margin-left: 2%;
  font-size: 25px;
  font-family: "Titillium Web", sans-serif !important;
  font-weight: bold;
  margin-bottom: 1rem;
}
.abreBotaoHeader {
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
}
