.modal {
    border-radius: 1rem;
    background: var(--azul-claro);
    box-shadow: 2px 2px 10px 0px rgba(150, 148, 149, 0.5);
    width: calc(100% - var(--header-padding) * 2);
    height: calc(100% - var(--header-padding) * 2);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index: 4;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--azul-padrao);
    height: 2rem;
    padding: 1.5rem;
    padding-bottom: 1rem;
  }
  
  .title {
    font: 500 16px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .closeButton {
    width: 2rem;
    height: 2rem;
    font-size: 1.25rem;
    color: var(--azul-padrao);
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    padding: 1.5rem;
    padding-top: 1rem;
    border-top: 1px solid var(--cinza-claro);
    color: var(--cinza-padrao);
    font: 400 14px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
    max-width: 100%;
    overflow-y: auto;
  }
  
  @media (min-width: 768px) {
    .modal {
      width: 45rem;
    }
  }
  
  @media (min-width: 1024px) {
    .modal {
      width: 50rem;
    }
  }

  .text {
    text-align: justify;
  }