.labelBig{
    font: bolder;
    padding-bottom: 10px;
    width: 250px;
}

.label{
    font: bolder;
    padding-bottom: 10px;
}

.containerEdicao{
    display: flex;
    flex-direction: column;
    margin: 25px;
    row-gap: 10px;
}

.metade{
    width: 50%;
}

.quarto{
    width: 25%;
}