.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
}
.toggleContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
}
.toggleContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-bottom: 1rem;
}
.containerComboProdutoServico {
  background-color: #f9f9f9;
  border: 1px solid #eee;
  padding: 1rem;
  border-radius: 13px;
}

.teste {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

@media (max-width: 768px) {
  .teste {
    flex-direction: column;
  }
}

.subTitle {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2rem;
  border-bottom: 1px solid #a1a1a1;
}
.contentComboProdutoServico {
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 4px;
  width: 100%;
  padding-bottom: 1rem;
}

.pageComboProdutoServico {
  padding: 1rem;

  border-radius: 4px;
  width: calc(100% - 2rem);
}

.titleComboProdutoServico {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  border-bottom: #dadada;
}

.toggleCombo {
  width: auto;
  padding-bottom: 1rem;
}

@media (min-width: 1024px) {
  .inputs {
    display: flex;
    gap: 1rem;
    width: 100%;
    padding-bottom: 1rem;
    flex-direction: row;
  }
}
