.btnGroup {
    display: flex;
    gap:30%;
    margin: 1rem;
    
}

.btnGravar {
    color: #fff;
    background-color: green ;
    border: 0px;
    border-radius: 3px;
    padding: 6px 12px;
}

.btnGravar:hover{
    background-color: rgb(38, 142, 36);
}

.btnVoltar{
    color: #fff;
    background-color: rgb(44, 43, 43) ;
    border: 0px;
    border-radius: 3px;
    padding: 6px 12px;
}

.btnVoltar:hover{
    background-color: black;
}

.limitarCombo{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btnProximo{
    color: #fff;
    background-color: rgb(1, 42, 1) ;
    border: 0px;
    border-radius: 3px;
    padding: 6px 12px;
}

.btnProximo:hover{
    background-color: black;
}
.btnMenosEMais{
    padding: 0.7rem 1.2rem;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    background-color: #0736C4;
}

.btnMenosEMais:hover{
    background-color: #000074;
}

.contentColumn {
    width: 100%;
  }
  
  /* use um nome sem hífen para acessar como styles.ordemVisualizacao */
.ordemVisualizacao {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  /* se o seu InputPadrao vier com width: 100%, limite a largura
     senão o botão “+” pode quebrar de linha */
.inputOrdem {
    width: 80px;
    text-align: center;
  }


@media (width >= 1024px) {
    .contentColumn:first-child{
        width: 50%;
    }
    .areaTexto{
        margin-top: 4rem;
    }
}
