.content{
    margin: 1rem 0;
}

.contentRow{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.contentColumn:first-child{
    width: 25%;
}

.contentColumn{
    width: 100%;
}

.label{
    line-height: 1.75rem;
}