.grid{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    padding-left: 50px;
}

.option{
    border: 0;
}

.label{
    font: bolder;
    padding-bottom: 10px;
}

.select{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: rgb(255, 0, 0);
    padding: 10px;
}

/* Só pra ver se algo muda, extremamente feio 👍*/
.teste{
    color: red;
    border-color: rgb(218, 23, 185);
}

.pesquisaEStatus{
    margin: 2rem 1rem;
    display: flex;
    gap: 2rem;
}