.grid{
    /* tá quebrado, arrumar depois*/
    grid-auto-flow: column;
    size: 100%;
}

.option{
    border: 0;
}

.label{
    font: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.select{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: rgb(255, 0, 0);
    padding: 10px;
}

.headerLocal{
  margin: 2rem 1rem;
  border-bottom: 1px solid black;
  height: 7.5rem;
}

/* Só pra ver se algo muda, extremamente feio 👍*/
.teste{
    color: red;
    border-color: rgb(218, 23, 185);
}